{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container content-body">
    <h1>Bestellen Sie jetzt!</h1>
    <img
        class="rounded-circle article-img"
        src="{{ object.image.url }}"
    />
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info btn-lg btn-block" type="submit">Jetzt bestellen</button>
        </div>
    </form>
</div>
{% endblock %}
