{% extends "base.html" %} {% block content %}
<div class="container content-body">
  <div class="menu-card">
    <div class="row">
      {% for pizza in pizzas %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
          <img
            src="{{ pizza.image.url }}"
            class="card-img-top rounded-circle article-img"
            alt="Image of a delicious Pizza"
          />
          <div class="card-body">
            <h5 class="card-title">{{ pizza.title }}</h5>
            <p class="card-text">Größe: {{ pizza.size }}</p>
            <a href="{% url 'menu-detail' pizza.slug %} " class="btn btn-primary">Bestellen</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
